<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/layout02.css">
	<link rel="stylesheet" href="css/style.css">
	<script src=""></script>
</head>
<body>
	<header id="main-header">
		<h1>
			Here goes the my Logo in SVG 
		</h1>	
		<nav>
			<h3>Navigation</h3><!--This should be hidden using some special technique shown in w3c course !-->
			<section id="nav-buttons">
				<button><a href="books-main.html">Books</a></button>
				<button><a href="games-main.html">Games</a></button>
				<button><a href="https://www.createareddit.html">Forum</a></button>
				<button><a href="login-register.html">Login/Register</a></button>
			</section>
		</nav>
	</header>
	
	<main>
		<h2></h2>
		<section id="main-content">
			
		</section>
		
	</main>
	
	<footer>
		
	</footer>
	<script> 
	</script>
</body>
</html>