<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/public/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/public/styles/custom-layout01.css">
	<style> body{ padding-top:70px; }</style>
</head>
<body>
	<header id="main-header">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid ">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Brand</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse" ">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.php">Main</a></li>
						<!-- TODO: This is prone to local file injection, by replacing href="../bp_cred.json then get my creds."-->
						<li><a href="index_controller.php?title=Fantasy">Fantasy</a></li>
						<li><a href="index_controller.php?title=Dark+Fantasy">Dark Fantasy</a></li>
					</ul>


				</div><!-- /.navbar-collapse -->

			</div>
		</nav>
	</header>
	
	<main>
		<h2></h2>
		<section id="sideconten1" class="hidden-xs col-md-3"><h1>Col 01</h1></section>
		<section id="main-content" class="col-md-6 ">

    {% block main_content %}
    {{ test_variable }}
    {% endblock %}
    


	</section>
	<!-- end of main section -->
	</main>
	<section id="sidecontent2" class="hidden-xs col-md-3" ><h1>Col 02</h1></section>
		
	
	<footer>
		
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>
